name: Spider Jar Gen CI

on:
  push:
    branches: [ "multiThread" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'jetbrains'
        cache: gradle
        
    - name: Grant execute permission to gradlew
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew app:buildCustomSpiderJar
        

